<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 配置Controller扫描 -->
    <context:component-scan base-package="cn.neusoft.retailer.web.controller"/>

    <!-- 配置注解驱动 -->
    <mvc:annotation-driven/>

    <!--解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--  静态资源  -->
    <mvc:default-servlet-handler/>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有mvc控制器 -->
            <mvc:mapping path="/**"/>

            <mvc:exclude-mapping path="/user/**"/>
            <mvc:exclude-mapping path="/kaptcha/**"/>
            <mvc:exclude-mapping path="/mail/**"/>
            <bean class="cn.neusoft.retailer.web.interceptor.AuthenticationInterceptor"/>
        </mvc:interceptor>

        <!-- 拦截品牌商的请求 -->
        <mvc:interceptor>
            <mvc:mapping path="/brandOrder/**"/>
            <mvc:mapping path="/Goods/**"/>
<!--            <mvc:mapping path="/toAddWal"/>-->
<!--            <mvc:mapping path="/bvo-transation"/>-->
            <bean class="cn.neusoft.retailer.web.interceptor.MvoInterceptor"/>
        </mvc:interceptor>
        <!--拦截借卖方的请求-->
        <mvc:interceptor>
            <mvc:mapping path="/BvoInfo/**"/>
            <mvc:mapping path="/BvoStore/**"/>
            <!--            <mvc:mapping path="/toAddWal"/>-->
<!--            <mvc:mapping path="/bvo-transation"/>-->
            <bean class="cn.neusoft.retailer.web.interceptor.BvoInterceptor"/>
        </mvc:interceptor>
        <!--拦截系统管理员的请求-->
        <mvc:interceptor>
            <mvc:mapping path="/dictionary/**"/>
            <mvc:mapping path="/parameter/**"/>
            <mvc:mapping path="/createOrderAndLog/**"/>
            <mvc:mapping path="/ReviewForm"/>
            <bean class="cn.neusoft.retailer.web.interceptor.AdminInterceptor"/>
        </mvc:interceptor>
        <!-- 管理员不能进入的请求 -->
        <mvc:interceptor>
            <mvc:mapping path="/toSignWal2"/>
            <!--                        <mvc:mapping path="/html/WalSignUp.html"/>-->
<!--            <mvc:mapping path="/bvo-transation"/>-->
            <bean class="cn.neusoft.retailer.web.interceptor.WalletInterceptor"/>
        </mvc:interceptor>

        <!-- 管理员和品牌商权限 -->
        <mvc:interceptor>
            <mvc:mapping path="/Company/**"/>
            <mvc:mapping path="/Brand/**"/>
            <bean class="cn.neusoft.retailer.web.interceptor.CompanyIntercepter"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--跨域-->
    <mvc:cors>

        <!--<mvc:mapping path="/**"-->
                     <!--allowed-origins="localhost:8090"-->
                     <!--allowed-methods="GET, POST"-->
                     <!--allowed-headers="*"-->
                     <!--exposed-headers="*" allow-credentials="true"-->
                     <!--max-age="123" />-->

        <mvc:mapping path="/**"
                     allowed-origins="http://47.107.168.99:8080" />

    </mvc:cors>

    <!--这个注解是必要的，图片上传必要-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600"/>
        <property name="maxInMemorySize" value="4096"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
</beans>