
<!DOCTYPE html>
<!--/**-->
<!--* @author 庄志宏-->
<!--* @version 1.0-->
<!--* @date 2019/7/23 21:44-->
<!--*/-->
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员流水处理</title>

    <script src="https://use.fontawesome.com/2aa8f6bc42.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>
<style>
    .btn-3{
        margin-top:10px;
        padding-top:20px;
        position:absolute;
    }
</style>
<body>
<div class="page-header">
    <h1 style="color: #2679b5;">管理员
        <small style="color: #646464;"><i class="fa fa-angle-double-right" aria-hidden="true"></i>流水审核</small>
    </h1>
</div>

<!-- import CSS -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<div id="app">


    <div id="table">
        <el-table
                :data="tableData"
                border
                style="width: 100%"
                stripe>
            <el-table-column
                    label="账号"
                    prop="tid">
            </el-table-column>
            <el-table-column
                    label="用户名"
                    prop="tusername">
            </el-table-column>

            <el-table-column
                    label="交易流水号"
                    prop="traid">
            </el-table-column>

            <el-table-column
                    label="交易金额"
                    prop="tnum">
            </el-table-column>

            <el-table-column
                    label="交易类型"
                    prop="ttype">
            </el-table-column>

            <el-table-column
                    label="余额"
                    prop="tbal">
            </el-table-column>

            <el-table-column
                    label="时间"
                    prop="ttime">
            </el-table-column>



            <el-table-column

                    align="right"
                    label="状态"
                    prop="tstatus">
            </el-table-column>
            <el-table-column

                    align="right">
                <template slot="header" slot-scope="scope">
                    <p>操作</p>
                </template>
                <template slot-scope="scope">

                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleReviewed(scope.$index, scope.row)">审核</el-button>

                </template>
            </el-table-column>
        </el-table>

        </template>
        <!--        <%&#45;&#45;//审核弹出框&#45;&#45;%>-->
        <el-dialog :visible.sync="visible" title="审核">
            <el-form :label-position="labelPosition" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">

                <nav style="text-align: center">
                    <el-form-item label="" prop="resource">
                        <el-radio-group v-model="ruleForm.resource">
                            <el-radio label="通过"></el-radio>
                            <el-radio label="不通过"></el-radio>
                        </el-radio-group>
                    </el-form-item>


                    <el-form-item lable="请上传水单" prop="choosefile">
                        如通过，请上传水单
                        <el-upload

                                ref="upload"
                                action="http://localhost:8080/online_retailer/upload"
                                name="picture"
                                list-type="picture-card"
                                :limit="1"
                                :file-list="fileList"
                                :on-exceed="onExceed"
                                :before-upload="beforeUpload"
                                :on-preview="handlePreview"
                                :on-success="handleSuccess"
                                :on-remove="handleRemove">
                            <i class="el-icon-plus"></i>
                            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过2Mb</div>

                        </el-upload>

                    </el-form-item>

                </nav>

                <el-form-item   label="如不通过，请填写原因：" prop="desc">
                    <el-input type="textarea" v-model="ruleForm.desc"></el-input>
                </el-form-item>
                <nav style="text-align: center">
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                        <el-button @click="resetForm('ruleForm')">重置</el-button>
                    </el-form-item>
                </nav>

            </el-form>
        </el-dialog>
        <br>


    </div>
    <!--    //分页栏-->
    <div class="block">
        <nav style="text-align: center">
            <span class="demonstration"></span>
            <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    :current-page="currentPage4"
                    :page-size="7"
                    layout="total, prev, pager, next, jumper"
                    :total="pageTotal">
            </el-pagination>
        </nav>
    </div>
</div>

<script>



    var vm1=new Vue({
        el: '#app',
        data: function () {
            // 弹窗内容
            var validateReason = (rule, value, callback) => {

                if (this.ruleForm.resource === '不通过'&&this.ruleForm.desc==="") {
                    callback(new Error('请输入原因'));
                    this.isEdit=false;
                    callback();

                }else if (this.ruleForm.resource === '不通过'&&this.ruleForm.desc!==""){
                    this.isEdit=true;
                }
            };
            var validatefile =(rule,value,callback)=>{
                if (this.ruleForm.resource === '通过'&&this.ruleForm.fsrc==="") {
                    callback(new Error('请上传文件'));
                    console.log(this.ruleForm.fsrc)
                    this.isEdit=false;
                    callback();

                }else if (this.ruleForm.resource === '通过'&&this.ruleForm.fsrc!==""){
                    this.isEdit=true;
                }
            };



            return {
                visible: false,
                isEdit:false,
                labelPosition:'top',
                chooseId:'',
                row:'',
                Form:{
                    tid:'',
                    traid:'',
                    tsum:'',
                    ttype:'',
                    tmoney:''
                },
                dateForUpdate:[],
                search: '',
                dateNotUpdate:{
                    id:'',
                    bal:'',
                    pass:'',
                },

                //表单
                sizeForm: {
                    name: '',

                    delivery: false,
                    resource: '',
                    desc: ''
                },
                tableData:[],
                ztype:["提现","充值","消费","收入"],
                zstatus:["待审核","审核通过","审核未通过"],

                currentPage4: 1,
                pageTotal:0,
                // 弹窗内容
                ruleForm: {
                    region: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: '',
                    fsrc:'',
                },
                //文件上传的参数
                dialogImageUrl: '',
                dialogVisible: false,
                //图片列表（用于在上传组件中回显图片）
                fileList: [],

                rules: {

                    resource: [
                        { required: true, message: '请选择是否通过', trigger: 'change' }
                    ],
                    desc: [
                        { validator:validateReason, trigger: 'blur' }
                    ],
                    choosefile:[ { validator:validatefile, trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {

            handleReviewed(index, row) {
                console.log(index, row);
                this.row = index;
                this.Form.tid=row.tid;
                this.Form.traid=row.traid;
                this.Form.tsum=row.tnum;
                this.Form.ttype=row.ttype;
                this.Form.tmoney=row.tbal;
                this.dateForUpdate = [];
                this.dateForUpdate.push(this.Form);
                this.visible=true;
                console.log(this.Form, this.dateForUpdate);

                // $.ajax({
                //     type: "POST",
                //     url: "http://127.0.0.1:8080/online_retailer_war_exploded/upload",
                //     contentType: "application/json;charset:utf-8",
                //     data: JSON.stringify(this.Form),
                //     dataType: "json",
                //     success: function (date) {
                //         console.log(date)
                //     }.bind(this),
                //     error:function (message) {
                //         console.log(message)
                //         console.log("error")
                //     }
                // })
            },
            //表单提交
            submitForm(formName) {
                // if(this.ruleForm.resource!==''){this.isEdit=true;}
                console.log(this.row,this.isEdit,this.ruleForm);
                if(this.isEdit) {
                    this.dateForUpdate.push(this.ruleForm);
                    console.log(this.ruleForm, this.dateForUpdate,this.fileList);
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:8080/online_retailer/ReviewForm",
                        contentType: "application/json;charset:utf-8",
                        data: JSON.stringify(this.dateForUpdate),
                        dataType: "json",
                        success: function (date) {
                            console.log(date)
                            this.visible=false;
                            alert("审核成功")
                            window.location.reload();
                            this.isEdit=false;
                        }.bind(this),
                        error:function (message) {
                            console.log(message)
                            console.log("error")
                        }
                    })
                }
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.tableData=[]
                $.ajax({
                    type:"get",
                    url:"http://localhost:8080/online_retailer/changeAllTransationList/"+val,
                    dataType:"json",
                    success:function(data){

                        $.each(data, function (i, obj) {
                            if(i!=data.length-1&&obj.traRecStatus==0) {
                                this.tableData.push({
                                    tid: obj.traRecWalId,
                                    traid:obj.traRecId,
                                    tnum: obj.traRecSum,
                                    ttype: this.ztype[obj.traRecType],
                                    tstatus: this.zstatus[obj.traRecStatus],
                                    tbal: obj.traRecBalance,
                                    ttime: obj.traRecDateStr,
                                    tusername:obj.traRecUserName,
                                    picurl:obj.traRecExchangememo,
                                })
                            }
                        }.bind(this))

                        this.pageTotal=data[data.length-1],
                            console.log(data);

                    }.bind(this)

                })
            }
            ,
            beforeUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isGIF = file.type === 'image/gif';
                const isPNG = file.type === 'image/png';
                const isBMP = file.type === 'image/bmp';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG && !isGIF && !isPNG && !isBMP) {
                    this.$message.error('上传图片必须是JPG/GIF/PNG/BMP 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传图片大小不能超过 2MB!');
                }
                return (isJPG || isBMP || isGIF || isPNG) && isLt2M;
            },
            //文件上传成功的钩子函数
            handleSuccess(res, file) {
                this.$message({
                    type: 'info',
                    message: '图片上传成功',
                    duration: 6000
                });
                if (file.response.success) {
                    this.ruleForm.fsrc = file.response.message; //将返回的文件储存路径赋值picture字段
                }
            },
            //删除文件之前的钩子函数
            handleRemove(file, fileList) {
                this.$message({
                    type: 'info',
                    message: '已删除原有图片',
                    duration: 6000
                });
            },
            //点击列表中已上传的文件事的钩子函数
            handlePreview(file) {
            },
            //上传的文件个数超出设定时触发的函数
            onExceed(files, fileList) {
                this.$message({
                    type: 'info',
                    message: '最多只能上传一个图片',
                    duration: 6000
                });
            },
        },

        //文件上传前的前的钩子函数
        //参数是上传的文件，若返回false，或返回Primary且被reject，则停止上传


        mounted:function(){
            this. handleCurrentChange(1);
        }



    })



</script>


</body>
</html>
