<!doctype html>
<!--
/**
 * @author 胡献涛
 * @version 1.0
 * @date 2019/7/23 23:05
 */
-->
<html lang="en">
<head>
    <title>品牌商-订单管理</title>　　
    <!-- http://localhost:8080/online_retailer/html/brand-orderlist.html -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--  Vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--  Axios  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- fontawesome -->
    <script src="https://use.fontawesome.com/2aa8f6bc42.js"></script>

    <style>
        #main-content{
            padding-left: 12.5%;
        }
        .search{
            width:30%;
        }

        .goods-header {
            overflow: hidden;
        }

        .goods-header-left {
            width: 30%;
            float: left;
        }

        .goods-header-right {
            width: 60%;
            float: left;
            padding: 30px;
        }

        .goods-header-left img {
            width: 100%;
        }
        #app {
            position: relative;
            left: -160px;
            top: -2px;
        }
        .h1, h1 {
            font-size: 2.0rem;
        }
    </style>

</head>

<body class="bg-light">

<div id="app"><div id="main-content" class="container-fluid">
    <div id="page-content" class="container-fluid">

        <div class="page-header">
            <h1 style="color: #2679b5;">品牌商
                <small style="color: #646464;"><i class="fa fa-angle-double-right" aria-hidden="true"></i>订单管理</small>
            </h1>
        </div>
        <hr class="my-4">
        <div class="search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="商品标题" aria-label="good title" aria-describedby="basic-addon2" v-model="searchText">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" @click="search">查找<i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="AwaitingPayment-tab" data-toggle="tab"  href="#AwaitingPayment" role="tab" aria-controls="AwaitingPayment" aria-selected="true"> 待支付</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="AwaitingShipment-tab" data-toggle="tab" href="#AwaitingShipment" role="tab" aria-controls="AwaitingPayment" aria-selected="false"> 待发货</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="shipped-tab" data-toggle="tab" href="#shipped" role="tab" aria-controls="shipped" aria-selected="false">已发货</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="complete-tab" data-toggle="tab" href="#complete" role="tab" aria-controls="complete" aria-selected="false">已完成</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="canceled-tab" data-toggle="tab" href="#canceled" role="tab" aria-controls="canceled" aria-selected="false">已取消</a>
                </li>
            </ul>
            <div class="tab-content">

                <!-- 待支付订单 -->
                <div id="AwaitingPayment" class="tab-pane fade show active" role="tabpanel" aria-labelledby="AwaitingPayment-tab">
                    <p>
                    <table id="table_bug_report1" class="table table-striped table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>商品标题</th>
                            <th>价格</th>
                            <th class="hidden-480">数量</th>
                            <th>商品ID</th>
                            <th class="hidden-480">订单编号</th>
                            <th class="hidden-480">订单创建时间</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="v in orders" v-if="v.order_status==awaitingPayment">

                            <td><button @click="order=v" type="button" class="btn btn-link" data-toggle="modal" data-target="#goodsModal">{{v.goods_title}}</button></td>                            <td>${{v.goods_price}}</td>
                            <td class="hidden-480">{{v.order_amount}}</td>
                            <td class="">{{v.goods_id}}</td>
                            <td class="hidden-480">{{v.order_id}}</td>
                            <td>
                                {{v.order_cre_time | formatDatetime}}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    </p>
                </div>

                <!-- 待发货订单 -->
                <div id="AwaitingShipment" class="tab-pane fade" role="tabpanel" aria-labelledby="AwaitingShipment-tab">
                    <p>
                    <table id="table_bug_report2" class="table table-striped table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>商品标题</th>
                            <th>价格</th>
                            <th class="hidden-480">数量</th>
                            <th>商品ID</th>
                            <th class="hidden-480">订单编号</th>
                            <th class="hidden-480">订单支付时间</th>
                            <th>运送方式</th>

                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="v in orders" v-if="v.order_status==awaitingShipment">

                            <td><button @click="order=v" type="button" class="btn btn-link" data-toggle="modal" data-target="#goodsModal">{{v.goods_title}}</button></td>                            <td>${{v.goods_price}}</td>
                            <td class="hidden-480">{{v.order_amount}}</td>
                            <td class="">{{v.goods_id}}</td>
                            <td class="hidden-480">{{v.order_id}}</td>
                            <td>
                                {{v.order_pay_time | formatDatetime}}
                            </td>
                            <td>{{v.trans_way}}</td>
                            <td>
                                <button type="button" class="btn btn-info" @click="transfer(v.order_id)">发货</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    </p>
                </div>

                <!-- 已发货订单 -->
                <div id="shipped" class="tab-pane fade" role="tabpanel" aria-labelledby="shipped-tab">
                    <p>
                    <table id="table_bug_report3" class="table table-striped table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>商品标题</th>
                            <th>价格</th>
                            <th class="hidden-480">数量</th>
                            <th>商品ID</th>
                            <th>订单编号</th>
                            <th class="hidden-480">发货时间</th>
                            <th class="hidden-480">物流跟踪号</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr v-for="(v,k) in orders" v-if="v.order_status==shipped">
                            <td><button @click="order=v" type="button" class="btn btn-link" data-toggle="modal" data-target="#goodsModal">{{v.goods_title}}</button></td>
                            <td>${{v.goods_price}}</td>
                            <td class="hidden-480">{{v.order_amount}}</td>
                            <td>{{v.goods_id}}</td>
                            <td>
                                {{v.order_id}}
                            </td>
                            <td>{{v.order_send_time | formatDatetime}}</td>
                            <td><button type="button" class="btn btn-link" @click="brandOrderTracking(v.order_log_id)">{{v.order_log_id}}</button></td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#completeModal" @click="selKey=k">完成</button>
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#confirmModal" @click="selKey=k">取消</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    </p>
                </div>

                <!-- 已完成 -->
                <div id="complete" class="tab-pane fade" role="tabpanel" aria-labelledby="complete-tab">
                    <p>
                    <table id="table_bug_report4" class="table table-striped table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>商品标题</th>
                            <th>价格</th>
                            <th class="hidden-480">数量</th>
                            <th>商品ID</th>
                            <th>订单编号</th>
                            <th class="hidden-480">订单完成时间</th>
                            <th class="hidden-480">物流跟踪号</th>

                        </tr>
                        </thead>

                        <tbody>

                        <tr v-for="v in orders" v-if="v.order_status==complete">

                            <td><button @click="order=v" type="button" class="btn btn-link" data-toggle="modal" data-target="#goodsModal">{{v.goods_title}}</button></td>
                            <td>${{v.goods_price}}</td>
                            <td class="hidden-480">{{v.order_amount}}</td>
                            <td>{{v.goods_id}}</td>
                            <td>{{v.order_id}}</td>
                            <td class="hidden-phone">{{v.order_complete_time | formatDatetime}}</td>
                            <td class="hidden-480"><button type="button" class="btn btn-link" @click="brandOrderTracking(v.order_log_id)">{{v.order_log_id}}</button></td>

                        </tr>

                        </tbody>
                    </table>
                    </p>
                </div>

                <!-- 已取消 -->
                <div id="canceled" class="tab-pane fade" role="tabpanel" aria-labelledby="canceled-tab">
                    <p>
                    <table id="table_bug_report5" class="table table-striped table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>商品标题</th>
                            <th>价格</th>
                            <th class="hidden-480">数量</th>
                            <th>商品ID</th>
                            <th>订单编号</th>
                            <th class="hidden-480">订单取消时间</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="v in orders" v-if="v.order_status==canceled">
                            <td><button @click="order=v" type="button" class="btn btn-link" data-toggle="modal" data-target="#goodsModal">{{v.goods_title}}</button></td>
                            <td>${{v.goods_price}}</td>
                            <td class="hidden-480">{{v.order_amount}}</td>
                            <td class="hidden-phone">{{v.goods_id}}</td>
                            <td class="hidden-480">{{v.order_id}}</td>
                            <td>
                                {{v.order_cancel_time | formatDatetime}}
                            </td>

                        </tr>

                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <!--商品信息展示-->
    <div class="modal fade" id="goodsModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">商品详细信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="goods-header">
                        <div class="goods-header-left">
                            <img :src="goods_pic" alt=""/>
                        </div>

                        <div class="goods-header-right">
                            <p>{{order.goods_title}}</p>
                            <p class="red">${{order.goods_price}}</p>
                            <p>商品ID：{{order.goods_id}}</p>
                            <p>品牌：{{order.brand_name}}</p>
                            <p>库存：{{order.goods_amount}}</p>
                        </div>
                    </div>

                    <br>
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active"  data-toggle="tab" href="#ebay"> 商品描述</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="ebay" class="tab-pane fade show active">{{order.goods_describe}}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- completeModal-->
    <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="completeModalTitle">确定设置订单状态为已完成吗？</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>确定设置订单状态为<span class="badge badge-info">已完成</span>吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="completeOrder(orders[selKey].order_id)">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 取消订单确认框Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalTitle">确定取消订单吗？</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>取消订单将会退款到借卖方账户</p>
                    <p>确定取消订单吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#validate-payment-password">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 输入支付密码Modal -->
    <div class="modal fade" id="validate-payment-password" tabindex="-1" role="dialog" aria-labelledby="validate-payment-password-ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validate-payment-password-ModalTitle">请输入支付密码</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="payment-password" class="col-form-label">请输入支付密码</label>
                    <input type="password" class="form-control" id="payment-password" v-model="paymentPassword">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" @click="cancelOrder(orders[selKey].order_id,paymentPassword)">确定</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 取消结果Modal -->
    <div class="modal fade" id="cancelResModal" tabindex="-1" role="dialog" aria-labelledby="cancelResModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelResModalTitle">操作结果</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{cancelMsg}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div></div>

</body>


<script>
    var ax=axios.create({baseURL:'http://localhost:8080/online_retailer/brandOrder'});

    var app=new Vue({
        el:'#main-content',
        data:{
            orders:[],//要显示的品牌商订单信息
            searchText:'',//搜索框的文本值
            ordersCopy:[],//保存orders的副本，用于搜索后还原orders
            order:'',//被选中的订单
            selKey:'',//被选中的订单编号
            //订单状态常量
            awaitingPayment:0,
            awaitingShipment:1,
            shipped:2,
            complete:3,
            canceled:4,

            paymentPassword:'',
            cancelRes:false,//取消订单结果
            cancelMsg:''
        },
        methods:{
            getOrders:function(){//获取订单信息
                var that=this;
                ax.get('/getOrders')
                    .then(function(response){
                        that.orders=response.data;
                        // console.log(response.data);
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            },
            search:function(){//点击搜索按钮，搜索商品
                if(this.searchText!==''){//搜索
                    this.orders=[];
                    for(var i=0;i<this.ordersCopy.length;i++){
                        if(this.ordersCopy[i].goods_title.indexOf(this.searchText)!==-1){
                            this.orders.push(this.ordersCopy[i]);
                        }
                    }
                }
            },
            completeOrder:function(order_id){//完成订单
                var that=this;
                ax.post("/completeOrder",{orderId:order_id})
                    .then(function(response){
                        if(response.data){
                            that.orders[that.selKey].order_status=that.complete;
                            that.orders[that.selKey].order_complete_time=new Date();
                        }
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            },
            cancelOrder:function(order_id,paymentPassword){//取消订单
                var that=this;
                ax.post('/cancelOrder',{orderId:order_id,paymentPassword:paymentPassword})
                    .then(function(response){
                        that.cancelRes=response.data.res;
                        that.cancelMsg=response.data.msg;
                        if(that.cancelRes){
                            that.orders[that.selKey].order_status=that.canceled;
                            that.orders[that.selKey].order_cancel_time=new Date();
                        }
                        $('#cancelResModal').modal('show');
                        // console.log(response.data);
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            },
            transfer:function(order_id){//保存订单ID到Session，然后跳转到发货页面
                var that=this;
                ax.post('/saveOrderId',{orderId:order_id})
                    .then(function(response){
                        if(response.data){
                            window.location.href="brand-order-transfer.html";
                        }
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            },
            brandOrderTracking:function (order_log_id) {
                var that=this;
                ax.post('/saveOrderLogId',{orderLogId:order_log_id})
                    .then(function(response){
                        if(response.data){
                            window.location.href="brand-ordertracking.html";
                        }
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }
        },
        watch:{
            searchText:function(newVal,oldVal){//监听搜索框，若发生改变则保存orders副本或者重置搜索结果
                if(newVal!==''&&oldVal===''){//保存orders副本
                    this.ordersCopy=this.orders;
                }
                if(newVal===''){//重置搜索结果
                    this.orders=this.ordersCopy;
                }
            }
        },
        computed:{
            goods_pic:function(){//商品图片
                if(this.order.goods_pic!=null&&this.order.goods_pic!==''){
                    return "../goods_images/"+this.order.goods_pic;
                }
                return this.order.goods_pic;
            }
        },
        filters: {//过滤器
            formatDatetime: function (value) {//把时间戳转换为标准时间格式
                var date = new Date(value);
                var y = date.getFullYear();
                var MM = date.getMonth() + 1;
                MM = MM < 10 ? ('0' + MM) : MM;
                var d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                var h = date.getHours();
                h = h < 10 ? ('0' + h) : h;
                var m = date.getMinutes();
                m = m < 10 ? ('0' + m) : m;
                var s = date.getSeconds();
                s = s < 10 ? ('0' + s) : s;
                return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
            }
        },
        mounted:function(){//加载页面后执行的方法
            this.getOrders();
        }
    });

</script>
</html>