
<!DOCTYPE html>
<!--/**-->
<!--* @author 庄志宏-->
<!--* @version 1.0-->
<!--* @date 2019/7/23 21:44-->
<!--*/-->
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>账户余额</title>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>
<style>
    .btn-3{
        margin-top:10px;
        padding-top:20px;
        position:absolute;
    }
</style>
<!-- import CSS -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<body>
<div id="app">

<div class="page-header position-relative">
    <h1 style="color: #2679b5;">				{{who}}<small><i class="el-icon-d-arrow-right"></i> 账户余额</small></h1>
    <hr><br>

</div>




    <div id="table3">
        <el-table
                :data="tableData3"
                border
                style="width: 100%"
                stripe="true">
            <el-table-column
                    label="账户"
                    prop="id">
            </el-table-column>
            <el-table-column
                    label="金额"
                    prop="bal">
            </el-table-column>
            <el-table-column

                    align="right">
                <template slot="header" slot-scope="scope">
                    <p>操作</p>
                </template>
                <template slot-scope="scope">

                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row),visible = true">充值</el-button>


                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleWithDraw(scope.$index, scope.row), visible1 = true">提现</el-button>

                </template>
            </el-table-column>
        </el-table>

        </template>
<!--        <%&#45;&#45;//充值弹出框&#45;&#45;%>-->
        <el-dialog title="充值" :visible.sync="visible" >

            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="金额" prop="money">
                    <el-input v-model.number="ruleForm.money"></el-input>
                </el-form-item>

                <el-form-item label="密码" prop="pass">
                    <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item label="确认密码" prop="checkPass">
                    <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                    <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>

            </el-form>
        </el-dialog>

<!--        <%&#45;&#45;//提现弹出框&#45;&#45;%>-->
        <el-dialog :visible.sync="visible1" title="提现">

            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="金额" prop="money">
                    <el-input v-model.number="ruleForm.money"></el-input>
                </el-form-item>

                <el-form-item label="密码" prop="pass">
                    <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item label="确认密码" prop="checkPass">
                    <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                    <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>

            </el-form>
        </el-dialog>
<!--修改密码-->
        <el-dialog :visible.sync="visible2" title="修改密码">

            <el-form :model="changeForm" status-icon :rules="changerules" ref="changeForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="旧密码" prop="oldpw">
                    <el-input type="password" v-model="changeForm.oldpw"></el-input>
                </el-form-item>

                <el-form-item label="新密码" prop="newpw">
                    <el-input type="password" v-model="changeForm.newpw" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item label="确认密码" prop="newpw2">
                    <el-input type="password" v-model="changeForm.newpw2" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitChange('changeForm')">提交</el-button>
                    <el-button @click="resetForm('changeForm')">重置</el-button>
                </el-form-item>

            </el-form>
        </el-dialog>
        <br>

        <template>
        <el-button type="primary" class='btn-3' @click="handlejump()" >交易流水</el-button>
        <el-button type="primary" class='btn-3' style="margin-left: 150px" @click="changePw(), visible2 = true" >修改密码</el-button>
        </template>
    </div>
</div>

<script>



    var vm1=new Vue({
        el: '#app',
        data: function () {
            // 弹窗内容

            var checkMoney = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('金额不能为空'));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('请输入数字值'));
                    } else {
                        if (value < 0) {
                            callback(new Error('金额必须大于零'));
                        } else {
                            callback();
                        }
                    }
                }, 1000);
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    this.isEdit=true;
                    callback();
                }
            };
            var validateOldPw = (rule,value,callback)=>{
                if(value===''){
                    callback(new Error('请输入旧密码'));

                }else{
                    callback();
                }
            };
            var validateNewPw = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入新密码'));
                } else
                 {
                    if (this.changeForm.newpw !== '') {
                        this.$refs.changeForm.validateField('newpw2');
                    }
                    callback();
                }
            };
            var validateNewPw2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.changeForm.newpw) {
                    console.log(this.changeForm.newpw)
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    this.ischange=true;
                    callback();
                }
            };

            return {
                visible: false,
                visible1: false,
                visible2: false,
                isEdit:false,
                ischange:false,
                chooseId:'',
                row:'',
                form:{
                    id:'',
                    bal:'',
                    sign:1
                },
                dateForUpdate:[],
                search: '',
                walletForm:{
                    id:'',
                    bal:'',
                    pass:'',
                },
                who:'',
                tableData3:[],
                dateNotUpdate:{
                    id:'',
                    bal:'',
                    pass:'',
                },
                ruleForm: {
                    pass: '',
                    checkPass: '',
                    money: ''
                },
                changeForm:{
                    oldpw:'',
                    newpw:'',
                    newpw2:'',
                },
                ztype:["借卖方","品牌商","管理员"],
                // 弹窗内容
                rules: {
                    pass: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    checkPass: [
                        { validator: validatePass2, trigger: 'blur' }
                    ],
                    money: [
                        { validator: checkMoney, trigger: 'blur' }
                    ]
                },
                // //修改密码
                changerules:{
                    oldpw:[{validator:validateOldPw,trigger:'blur'}],
                    newpw:[{validator:validateNewPw,trigger:'blur'}],
                    newpw2:[{validator:validateNewPw2,trigger:'blur'}],
                }
            }
        },
        methods: {
            handleEdit(index, row) {
                console.log(index, row);
                console.log(row.id);
                // 放入旧的钱包信息
                this.dateForUpdate=[];
                this.form.id=row.id;
                this.form.bal=row.bal;
                this.row=index;
                this.form.sign=1;

                // this.isEdit=true;
                this.dateForUpdate.push(this.form);

                console.log(this.form,this.dateForUpdate);

                console.log(row.bal);

            },
            changePw(formName){
                this.dateForUpdate=[];
                this.form.id=this.tableData3[0].id;
                this.form.bal=this.tableData3[0].bal;
                this.dateForUpdate.push(this.form);
                console.log(this.dateForUpdate);

            },
            handleWithDraw(index, row) {
                console.log(index, row);
                this.form.id=row.id;
                this.form.bal=row.bal;
                this.form.sign=-1;
                this.row=index;
                this.dateForUpdate=[];
                this.dateForUpdate.push(this.form);
                console.log(this.form,this.dateForUpdate);

            },
            submitChange(formName){
                if(this.ischange){
                this.dateForUpdate.push(this.changeForm);
                console.log(this.changeForm);
                $.ajax({
                    type:"POST",
                    url:"http://localhost:8080/online_retailer/EditPassword",
                    contentType:"application/json; charset:utf-8",
                    data:JSON.stringify(this.dateForUpdate),
                    dataType: "json",
                    success:function(date){
                        console.log(date)
                        if(date.success){

                            //手动刷新
                            // window.location.reload();
                            this.visible = false;
                            this.visible2=false;
                            this.ischange=false;
                                this.$alert('<strong>密码修改成功</strong>', '通知', {
                                    dangerouslyUseHTMLString: true
                                });




                        }else if(date.message=="password_format"){
                            this.$alert('<strong>请输入6位密码</strong>', '密码格式错误', {
                                dangerouslyUseHTMLString: true
                            });
                        }else if(date.message=="password_error"){
                            this.$alert('<strong>密码错误</strong>', '好像出了点问题', {
                                dangerouslyUseHTMLString: true
                            });
                        }else  {
                            this.$alert('<strong>网络繁忙</strong>', '好像出了点问题', {
                                dangerouslyUseHTMLString: true
                            });
                        }


                    }.bind(this),
                    error:function (message) {
                        console.log(message)
                        console.log("error")
                    }})}
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        console.log('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            // 弹窗内容
            submitForm(formName) {

                var did=this.form.id;
                var dbal=this.form.bal;
                var updateDate={
                    id:did,
                    bal:dbal
                }

                if(this.isEdit){
                    this.dateForUpdate.push(this.ruleForm);
                    console.log(updateDate,this.row)

                    // var id=this.form.id;
                    // var bal=this.form.bal;
                    // var pass=this.form.pass;
                    updateDate.bal+=this.ruleForm.money*this.form.sign;
                    $.ajax({
                        type:"POST",
                        url:"http://localhost:8080/online_retailer/EditWal",
                        contentType:"application/json; charset:utf-8",
                        data:JSON.stringify(this.dateForUpdate),
                        dataType: "json",
                        success:function(date){
                            console.log(date.result)
                            if(date.result=="success"){

                                //手动刷新
                                // window.location.reload();
                                this.$set(this.tableData3,this.row,updateDate);
                                this.visible = false;
                                this.visible1=false;
                                this.isEdit=false;
                                if(this.form.sign==1){
                                    this.$alert('<strong>充值成功,请等待管理员审核</strong>', '感谢', {
                                        dangerouslyUseHTMLString: true
                                    });
                                }else{
                                    this.$alert('<strong>提现成功，请等待管理员审核</strong>', '感谢', {
                                        dangerouslyUseHTMLString: true
                                    });
                                }



                            }else if(date.result=="passError"){
                                this.$alert('<strong>密码错误</strong>', '好像出了点问题', {
                                    dangerouslyUseHTMLString: true
                                });
                            }else if(date.result=="recordError") {
                                this.$alert('<strong>记录失败</strong>', '好像出了点问题', {
                                    dangerouslyUseHTMLString: true
                                });
                            }else if(date.result=="unenough") {
                                this.$alert('<strong>余额不足</strong>', '好像出了点问题', {
                                    dangerouslyUseHTMLString: true
                                });
                            }else
                            {
                                this.$alert('<strong>网络繁忙</strong>', '好像出了点问题', {
                                    dangerouslyUseHTMLString: true
                                });
                            }
                        }.bind(this),
                        error:function (message) {
                            console.log(message)
                            console.log("error")
                        }

                    })


                }else{
                    this.$alert('<strong>两次密码要相同哦</strong>', '提示', {
                        dangerouslyUseHTMLString: true
                    });
                }
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        console.log('error submit!!');
                        return false;
                    }
                });

            },
            resetForm(formName) {
                // this.ruleForm=[];
                this.$refs[formName].resetFields();
            },
            handlejump() {
                //跳转页面
                window.location="http://localhost:8080/online_retailer/toTransation";
            },
            init() {
                var that=this;
                this.tableData3=[]

                $.ajax({
                    type: "post",
                    url: "http://localhost:8080/online_retailer/toWalList",
                    contentType: "application/json; charset=utf-8",
                    xhrFields: {withCredentials: true},
                    dataType: "json",
                    success: function (r) {
                        $.each(r,function(i,obj){
                            this.tableData3.push({
                                id:obj.walId,
                                bal:obj.walBalance,
                                ty:this.ztype[obj.walType]
                            })
                        }.bind(this))
                        this.who=this.tableData3[0].ty;
                        console.log(r);
                        // for (var i = 0; i < r.length; i++) {//循环显示标题
                        //
                        //     $("#news-list2 ul").append("<li><a index='" + i + "'>" + r[i].walId + "</a></li>");
                        // }
                        // $("#news-list2 ul li a").click(function () {
                        //     // 单击左边的新闻标题显示内容
                        //     var index = $(this).attr("index");
                        //     $("#news h1").html(r[index].walId);
                        //     $("#news .content").html(r[index].walEmail);
                        // });
                    }.bind(this),
                    error:function(error){
                        console.log(error.status);
                    }
                });
            }
        },


        mounted:function(){
            this.init();
        }


    })


</script>


</body>
</html>
