<!DOCTYPE html>
<!--
/**
* @author 胡献涛
* @version 1.0
* @date 2019/8/2 20:19
*/
-->
<html lang="en">
<head>
    <!--http://localhost:8080/online_retailer/html/create-order-and-log.html-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>模拟生成订单和物流信息</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--  Vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--  Axios  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- fontawesome -->
    <script src="https://use.fontawesome.com/2aa8f6bc42.js"></script>

    <style>
        #app{
            padding-top: 10%;
            padding-left: 30%;
            padding-right: 30%;
        }
    </style>
</head>

<body>

<div id="app">
    <div class="page-header">
        <h1>模拟生成订单和物流信息</h1>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="借卖关系ID" v-model="dropshipId">
        <button type="button" class="btn btn-primary" @click="createOrder">创建订单信息</button>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="订单ID" v-model="orderId">
        <button type="button" class="btn btn-primary" @click="createLog">创建物流信息</button>
    </div>
</div>

</body>

<script>
    var ax=axios.create({baseURL:'http://localhost:8080/online_retailer/createOrderAndLog'})

    var app=new Vue({
        el:"#app",
        data:{
            dropshipId:'',
            orderId:''
        },
        methods:{
            createOrder:function(){
                var self=this;
                ax.post("/createOrder",{dropshipId:parseInt(self.dropshipId)})
                    .then(function(res){
                        if(res.data===0){
                            alert('创建成功');
                        }else if(res.data===1){
                            alert('创建失败');
                        }else{
                            alert('库存不足');
                        }
                    })
                    .catch(function(error){
                        console.log(error);
                        if(error.response.status===403){
                            alert('禁止访问，需要管理员权限');
                        }
                    })
            },
            createLog:function(){
                var self=this;
                ax.post("/createLogistics",{orderId:parseInt(self.orderId)})
                    .then(function(res){
                        if(res.data){
                            alert('创建成功');
                        }else{
                            alert('创建失败');
                        }
                    })
                    .catch(function(error){
                        console.log(error);
                        if(error.response.status===403){
                            alert('禁止访问，需要管理员权限');
                        }
                    })
            }
        },
        mounted:function(){

        }
    })

</script>

</html>