<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
</head>
<script src="../js/jquery-1.9.1.js"></script>

<body>
<div id="app">
    <el-table :data="dataForShow" @selection-change="handleSelectionChange" style="width: 100%">
        <el-table-column type="selection">
        </el-table-column>
        <el-table-column label="字典类型" prop="type" width="180">
        </el-table-column>
        <el-table-column label="用途描述" prop="describe" width="180">
        </el-table-column>
        <el-table-column label="编码" prop="code">
        </el-table-column>
        <el-table-column label="编码值" prop="cvalue">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button @click="handleEdit(scope.$index,true)" icon="el-icon-setting" type="primary"></el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-button @click="handleEdit(0,false)" icon="el-icon-edit" type="primary"></el-button>
    <el-button @click="handleDel()" icon="el-icon-delete" type="primary"></el-button>
    <div class="update">
        <el-dialog :visible.sync="dialogVisible" title="数据字典">
            <el-form :model="form" label-width="80px" ref="form">
                <el-form-item :rules="[
      						{ required: true, message: '字典类型不能为空'},
      						{ max: 20, message: '字典类型不超过20个字符'}
    					]" label="字典类型" prop="type">
                    <el-input placeholder="请输入字典类型,不大于20个字符" v-model="form.type"></el-input>
                </el-form-item>
                <el-form-item :rules="[
      						{ required: true, message: '数据描述不能为空'},
      						{ max: 20, message: '数据描述不超过20个字符'}
    					]" label="用途描述" prop="describe">
                    <el-input placeholder="请输入数据描述,不大于20个字符" v-model="form.describe"></el-input>
                </el-form-item>
                <el-form-item :rules="[
      						{ required: true, message: '编码不能为空'},
      						{ type: 'number', message: '输入数字'}
    					]" label="编码" prop="code">

                    <el-input placeholder="请输入编码,0-9" type="number" v-model.number="form.code"></el-input>
                </el-form-item>
                <el-form-item :rules="[
      						{ required: true, message: '编码值不能为空'},
      						{ max: 10, message: '编码值不超过10个字符'}
    					]" label="编码值" prop="cvalue">
                    <el-input placeholder="请输入编码值,不大于10个字符" v-model="form.cvalue"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button @click="onSubmit" type="primary">确 定</el-button>
                </el-form-item>
                </el-from>
        </el-dialog>
        <el-pagination :current-page="1" :page-size="7" :total="pageSum" @current-change="handleCurrentChange"
                       id="page" layout=" prev, pager, next, jumper">
        </el-pagination>
    </div>

</div>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                tableData: [],
                dialogVisible: false,
                isEdit: false,
                selectedRow: 0,
                form: {
                    type: '',
                    describe: '',
                    code: 0,
                    cvalue: ''
                },
                //更新数据需要旧和新的数据,因为type不是唯一的
                dataForUpdate: [],
                //需要删除的记录
                dataForDel: [],
                //存储记录数
                pageSum: 0,
                //存储当前页号
                pageNum: 1,
                //每一页展示的内容
                dataForShow: [],
                dataNotUpdate: {
                    type: '',
                    describe: '',
                    code: 0,
                    cvalue: ''
                }
            }
        },
        //初始化数据流
        created() {
            this.init()
        },
        methods: {
            handleCurrentChange(val) {
                this.pageNum = val;
                this.showDetail(this.pageNum)
            },
            //分页展示
            showDetail(pageNum) {
                this.dataForShow = []
                //如果每页都满
                if (this.pageSum >= (this.pageNum - 1) * 7 + 6) {
                    for (var i = 0; i < 7; i++) {
                        this.$set(this.dataForShow, i, this.tableData[(this.pageNum - 1) * 7 + i])
                    }
                }
                //最后一页不满
                else {
                    for (var i = 0; i < 7; i++) {
                        if (i < this.pageSum % 7) {
                            this.$set(this.dataForShow, i, this.tableData[(this.pageNum - 1) * 7 + i])
                        } else {
                            this.$set(this.dataForShow, i, {
                                type: ' ',
                                describe: ' ',
                                code: ' ',
                                cvalue: ' '
                            })
                        }
                    }
                }
                console.log(this.dataForShow)
            },
            init() {
                this.tableData = []
                this.pageSum = 0
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: "http://localhost:8080/online_retailer//initDictionary",
                    success: function (res) {
                        $.each(res, function (i, obj) {
                            this.pageSum++
                            this.tableData.push({
                                type: obj.dicType,
                                describe: obj.dicDiscribe,
                                code: obj.dicCode,
                                cvalue: obj.dicValue
                            }) //循环遍历，拼接
                        }.bind(this));
                        this.showDetail(this.pageNum)
                        console.log(this.pageSum + " " + this.dataForShow + " " + this.tableData)
                    }.bind(this),
                    error: function () {
                        alert("初始化数据失败");
                    }
                });
            },
            //选中checkbox后的对象数组传给即将删除的
            handleSelectionChange(val) {
                if (val.length != 0) {
                    this.dataForDel = val;
                    console.log(this.dataForDel)
                }
            },
            handleEdit(row, isEdit) {
                //修改
                if (isEdit) {
                    this.form.type = this.dataForShow[row].type;
                    this.form.describe = this.dataForShow[row].describe;
                    this.form.code = this.dataForShow[row].code;
                    this.form.cvalue = this.dataForShow[row].cvalue;
                    this.dataNotUpdate.type = this.dataForShow[row].type;
                    this.dataNotUpdate.describe = this.dataForShow[row].describe;
                    this.dataNotUpdate.code = this.dataForShow[row].code;
                    this.dataNotUpdate.cvalue = this.dataForShow[row].cvalue;
                    this.isEdit = isEdit;
                    this.selectedRow = row;
                    this.dataForUpdate.push(this.dataNotUpdate)
                }
                //新增
                else {
                    this.form.type = '';
                    this.form.describe = '';
                    this.form.code = '';
                    this.form.cvalue = '';
                    this.isEdit = isEdit;
                }
                this.dialogVisible = true;
            },
            //新增或者修改的提交
            onSubmit() {
                //更新提交
                if (this.isEdit) {
                    var dtype = this.form.type
                    var ddescribe = this.form.describe
                    var dcode = this.form.code
                    var dcvalue = this.form.cvalue
                    var updatedData = {
                        type: dtype,
                        describe: ddescribe,
                        code: dcode,
                        cvalue: dcvalue
                    }
                    this.dataForUpdate.push(this.form)
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:8080/online_retailer//updateDictionary",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(this.dataForUpdate),
                        dataType: "json",
                        success: function (data) {
                            //成功信息
                            console.log("success")
                            if (data.result == "SUCCESS") {
                                this.$set(this.dataForShow, this.selectedRow, updatedData)
                                this.tableData[this.selectedRow] = updatedData
                                alert("修改成功!")
                            } else {
                                alert("修改失败")
                            }
                        }.bind(this),
                        error: function (message) {
                            //失败信息
                            console.log("error")
                        }
                    });
                }
                //新增提交
                else {
                    var dtype = this.form.type
                    var ddescribe = this.form.describe
                    var dcode = this.form.code
                    var dcvalue = this.form.cvalue
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:8080/online_retailer//insertDictionary",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(this.form),
                        dataType: "json",
                        success: function (data) {
                            //成功信息
                            console.log("success")
                            if (data.result == "SUCCESS") {
                                this.tableData.push({
                                    type: dtype,
                                    describe: ddescribe,
                                    code: dcode,
                                    cvalue: dcvalue
                                })
                                this.$set(this.dataForShow, (this.pageSum + 1) % 7, {
                                    type: dtype,
                                    describe: ddescribe,
                                    code: dcode,
                                    cvalue: dcvalue
                                })
                                this.init()
                                alert("插入成功!")
                            } else {
                                alert("插入失败")
                            }
                        }.bind(this),
                        error: function (message) {
                            //失败信息
                            console.log("error")
                        }
                    });
                    console.log(this.pageNum + " " + this.pageSum)
                    //如果当前页已经满,添加一条新记录自动跳到最后一页
                    if (this.pageNum <= this.pageSum / 7) {
                        this.pageNum = parseInt(this.pageSum / 7) + 1
                        console.log(this.pageNum + " " + this.pageSum)
                        this.showDetail(this.pageNum)
                    } else {
                        this.showDetail(this.pageNum)
                    }
                }
                this.dialogVisible = false;
            },
            handleDel() {
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/online_retailer//deleteDictionary",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(this.dataForDel),
                    dataType: "json",
                    success: function (data) {
                        //成功信息
                        console.log("success")
                        if (data.result == "SUCCESS") {
                            this.init()
                            alert("删除成功!")
                        } else {
                            alert("删除失败")
                        }
                    }.bind(this),
                    error: function (message) {
                        //失败信息
                        console.log("error")
                    }
                });
                //如果删除的是最后一页的仅有的第一个元素,则返回上一页
                console.log(this.pageSum + " " + this.pageNum)
                if (parseInt(this.pageSum % 7) == 1 && parseInt(this.pageSum / 7) + 1 == this.pageNum) {
                    this.showDetail(--this.pageNum)
                } else {
                    this.showDetail(this.pageNum)
                }
                console.log(this.pageSum + " " + this.pageNum)
            }
        },
        watch: {
            dataForShow(newVal) {
                console.log(newVal)
            },
            pageNum(newVal) {
                console.log(newVal)
            }
        }
    })
</script>
</body>
</html>