<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.neusoft.retailer.web.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="cn.neusoft.retailer.web.pojo.Company" >
    <id column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_location" property="companyLocation" jdbcType="VARCHAR" />
    <result column="company_contact" property="companyContact" jdbcType="VARCHAR" />
    <result column="company_birthday" property="companyBirthday" jdbcType="DATE" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company
    where company_id = #{companyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.neusoft.retailer.web.pojo.Company" >
    insert into company (company_id, company_name, company_location, 
      company_contact, company_birthday)
    values (#{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{companyLocation,jdbcType=VARCHAR}, 
      #{companyContact,jdbcType=VARCHAR}, #{companyBirthday,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.neusoft.retailer.web.pojo.Company" >
    update company
    set company_name = #{companyName,jdbcType=VARCHAR},
      company_location = #{companyLocation,jdbcType=VARCHAR},
      company_contact = #{companyContact,jdbcType=VARCHAR},
      company_birthday = #{companyBirthday,jdbcType=DATE}
    where company_id = #{companyId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select company_id, company_name, company_location, company_contact, company_birthday
    from company
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>

  <select id="selectByCompanyName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select company_id, company_name, company_location, company_contact, company_birthday
    from company
    where company_name = #{companyName,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select company_id, company_name, company_location, company_contact, company_birthday
    from company
  </select>
</mapper>