<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.retailer.web.mapper.DropshipMapper">
  <resultMap id="BaseResultMap" type="cn.neusoft.retailer.web.pojo.Dropship">
    <id column="dropship_id" jdbcType="INTEGER" property="dropshipId" />
    <result column="bvo_id" jdbcType="INTEGER" property="bvoId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="upc" jdbcType="VARCHAR" property="upc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dropship
    where dropship_id = #{dropshipId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.neusoft.retailer.web.pojo.Dropship" >
    insert into dropship (dropship_id, bvo_id, goods_id,
     goods_num, store_id,upc)
    values (null , #{bvoId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER},
      #{goodsNum,jdbcType=INTEGER},#{storeId,jdbcType=INTEGER}, #{upc,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.neusoft.retailer.web.pojo.Dropship">
    update dropship
    set bvo_id = #{bvoId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_num = #{goodsNum,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      upc = #{upc,jdbcType=VARCHAR}
    where dropship_id = #{dropshipId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select dropship_id, bvo_id, goods_id, goods_num, store_id, upc
    from dropship
    where dropship_id = #{dropshipId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select dropship_id, bvo_id, goods_id, goods_num, store_id, upc
    from dropship
  </select>
  <select id="selectByBvoId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select dropship.*
    from dropship
    where bvo_id = #{bvoId,jdbcType=INTEGER}
  </select>
  <select id="selectByBvoIdAndGoodsId" resultMap="BaseResultMap" parameterType="map" >
    select * from   dropship  where bvo_id = #{bvoId,jdbcType=INTEGER}  and goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
</mapper>