<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.retailer.web.mapper.StoreMapper">
  <cache eviction="LRU" type="cn.neusoft.retailer.web.cache.RedisCache" />

  <resultMap id="BaseResultMap" type="cn.neusoft.retailer.web.pojo.Store">
    <id column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_type" jdbcType="INTEGER" property="storeType" />
    <result column="store_own" jdbcType="INTEGER" property="storeOwn" />
    <result column="marketplace_id" jdbcType="VARCHAR" property="marketplaceId" />
    <result column="nws_auth_token" jdbcType="VARCHAR" property="nwsAuthToken" />
  </resultMap>
  <select id="selectAllById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from store where store_own = #{userId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store
    where store_id = #{storeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.neusoft.retailer.web.pojo.Store">
    insert into store (store_id, store_name, store_type,
      store_own, marketplace_id, nws_auth_token
      )
    values (#{storeId,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, #{storeType,jdbcType=INTEGER},
      #{storeOwn,jdbcType=INTEGER}, #{marketplaceId,jdbcType=VARCHAR}, #{nwsAuthToken,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.neusoft.retailer.web.pojo.Store">
    update store
    set store_name = #{storeName,jdbcType=VARCHAR},
      store_type = #{storeType,jdbcType=INTEGER},
      store_own = #{storeOwn,jdbcType=INTEGER},
      marketplace_id = #{marketplaceId,jdbcType=VARCHAR},
      nws_auth_token = #{nwsAuthToken,jdbcType=VARCHAR}
    where store_id = #{storeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select store_id, store_name, store_type, store_own, marketplace_id, nws_auth_token
    from store
    where store_id = #{storeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select store_id, store_name, store_type, store_own, marketplace_id, nws_auth_token
    from store
  </select>
  <select id="selectByBvoIdAndType" resultMap="BaseResultMap" parameterType="map" >
    select store_id, store_name, store_type, store_own, marketplace_id, nws_auth_token
    from store
    where store_own = #{bvoId,jdbcType=INTEGER}  and store_type = #{storeType,jdbcType=INTEGER}
  </select>
  <select id="selectByBvoId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select store_id, store_name, store_type, store_own, marketplace_id, nws_auth_token
    from store
    where store_own = #{storeOwn,jdbcType=INTEGER}
  </select>
</mapper>