<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.neusoft.retailer.web.mapper.TransactionRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.neusoft.retailer.web.pojo.TransactionRecord" >
    <id column="tra_rec_id" property="traRecId" jdbcType="VARCHAR" />
    <result column="tra_rec_date" property="traRecDate" jdbcType="TIMESTAMP" />
    <result column="tra_rec_type" property="traRecType" jdbcType="INTEGER" />
    <result column="tra_rec_sum" property="traRecSum" jdbcType="REAL" />
    <result column="tra_rec_status" property="traRecStatus" jdbcType="INTEGER" />
    <result column="tra_rec_wal_id" property="traRecWalId" jdbcType="INTEGER" />
    <result column="tra_rec_balance" property="traRecBalance" jdbcType="REAL" />
    <result column="tra_rec_exchangeMemo" property="traRecExchangememo" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from transaction_record
    where tra_rec_id = #{traRecId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.neusoft.retailer.web.pojo.TransactionRecord" >
    insert into transaction_record (tra_rec_id, tra_rec_date, tra_rec_type, 
      tra_rec_sum, tra_rec_status, tra_rec_wal_id, 
      tra_rec_balance, tra_rec_exchangeMemo)
    values (#{traRecId,jdbcType=VARCHAR}, #{traRecDate,jdbcType=TIMESTAMP}, #{traRecType,jdbcType=INTEGER}, 
      #{traRecSum,jdbcType=REAL}, #{traRecStatus,jdbcType=INTEGER}, #{traRecWalId,jdbcType=INTEGER}, 
      #{traRecBalance,jdbcType=REAL}, #{traRecExchangememo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.neusoft.retailer.web.pojo.TransactionRecord" >
    update transaction_record
    set tra_rec_date = #{traRecDate,jdbcType=TIMESTAMP},
      tra_rec_type = #{traRecType,jdbcType=INTEGER},
      tra_rec_sum = #{traRecSum,jdbcType=REAL},
      tra_rec_status = #{traRecStatus,jdbcType=INTEGER},
      tra_rec_wal_id = #{traRecWalId,jdbcType=INTEGER},
      tra_rec_balance = #{traRecBalance,jdbcType=REAL},
      tra_rec_exchangeMemo = #{traRecExchangememo,jdbcType=VARCHAR}
    where tra_rec_id = #{traRecId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select tra_rec_id, tra_rec_date, tra_rec_type, tra_rec_sum, tra_rec_status, tra_rec_wal_id, 
    tra_rec_balance, tra_rec_exchangeMemo
    from transaction_record
    where tra_rec_id = #{traRecId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select tra_rec_id, tra_rec_date, tra_rec_type, tra_rec_sum, tra_rec_status, tra_rec_wal_id, 
    tra_rec_balance, tra_rec_exchangeMemo
    from transaction_record
  </select>
</mapper>